.containerCardAboutMe {
  width: 18rem;
  height: 4rem;
  display: flex;
  align-items: center;
  background-color: #383838;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.37), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.containerIcon {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
}
