@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.line {
  width: 6.7rem;
  height: 6px;
  border-radius: 6px;
  margin-bottom: 0.8rem;
  background: -webkit-linear-gradient(90deg, #c7f2ff, #5cd3ff);
  background: linear-gradient(90deg, #c7f2ff, #5cd3ff);
}

h2 {
  margin-bottom: 0;
}

p {
  font-weight: 300;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.76);
  font-family: "Poppins", serif;
}

.aboutMe {
  width: 100%;
  height: 20rem;
  /* background-color: rebeccapurple; */
}

.containerPasatiempo {
  width: 100%;
  height: 10rem;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .containerPasatiempo {
    gap: 8px;
  }
}
@media (max-width: 768px) and (max-height: 1024px) {
  .containerPasatiempo {
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
