.container {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 42.294rem;
  min-height: 34.813rem;
  overflow: hidden;
}

.containerMain {
  width: 95%;
  height: 100%;
  background-color: RGB(30, 30, 30);
  border: 2px solid rgb(32, 32, 32);
  overflow: hidden;
  min-width: 42.294rem;
  min-height: 34.563rem;
  border-radius: 0.8rem;
}

.header_MC_container {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_MC {
  width: 50%;
  height: 100%;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #383838;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.37), 0 1px 3px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-evenly;
}

.header_MC button {
  width: 5rem;
  height: 100%;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  outline: none;
}

.header_MC button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.buttonFocus {
  color: #6ee0f2;
}

.header_MC button:focus {
  color: #6ee0f2;
}

.containerAboutMeProyeTec {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerMainAboutMeProyeTec {
  width: 95%;
  height: 100%;
}
